body{
    min-height: 100vh;
    height: fit-content;
    .logo{
        max-width: 17%;
        position: absolute;
        margin: 2rem;
    }
   
    main{
        z-index: 2;
        display: flex;
        height: 100vh;
        .left{
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            .clanMemberLeft{
                animation: opacify 0.4s ease;
                max-height: 79rem;
                max-width: fit-content;
                width: 100%;
                
            }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            
            height: 100%;
            .conteudoPergaminho{
                position: relative;
                max-width:90rem;
                height: auto;
                
                overflow: hidden;
                
                    
                    
                    .pergaminho{
                        
                        max-width: 100%;
                    }
                
                .sobrePergaminho{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    .topContent{
                        max-height: 16.5%;
                        padding: 0 16%;
                        height: 100%;
                        .villages{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            height: 100%;
                            img{
                                max-width: 5rem;
                                width: 100%;
                                max-height: 6rem;
                                height: fit-content;
                                filter: invert(100%);
                                cursor: pointer;
                                transition: 0.3s ease;
                                &:hover{
                                    scale: 1.1;
                                    transition: 0.3s ease;
                                }
                            }
                        }

                    }
                    .midContent{
                        display: grid;
                        grid-template-columns: auto auto auto;
                        
                        align-items: center;
                        justify-content: space-around;
                        max-height: 70.5%;
                        height: 100%;
                        padding: 0 16%;
                        .chooseMessageDiv{
                            display: subgrid;

                            grid-column: 2 / 2;
                            span{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
                                font-size: 4rem; 
                                gap: 3rem;
                                text-align: center;
                                img{
                                    height: 10rem;
                                    width: fit-content;
                                }
                            }
                        }
                        .memberInfo{    
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img{
                                
                               max-width: 80%;
                               max-height: 12rem;
                               margin-bottom: 4%;
                               animation: opacify 0.4s ease;
                            }
                            p{
                                font-size: 1.2rem;
                                
                            }
                           
                        }
                    }
                    .downContent{
                        max-height: 13%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        button{
                            display: none;
                            height: fit-content;
                            cursor: pointer;
                            padding: 5% 10%; 
                            transition: 0.3s ease;
                            font-size: 1.4rem;
                            &:hover{
                                scale: 1.5;
                                transition: 0.3s ease;
                            }
                        }
                    }
                }
            }
        }   
    }
    @media (max-width:1400px) {
        main{
            .right{
                .conteudoPergaminho{
                    .sobrePergaminho{
    
                        .midContent{
                            .memberInfo{
        
                                img{
                                    max-width: 60%;
                                    max-height: 10rem;
                                }
                                p{
                                    font-size: 1rem;
                                }
                            }
                            }
                    }
                }
                }
            }
        }
    @media (max-width:1200px) {
        main{
            .left{
                width: 50%;
            }
            .right{
                .conteudoPergaminho{
                    .sobrePergaminho{
    
                        .midContent{
                            .memberInfo{
        
                                img{
                                    max-width: 60%;
                                    max-height: 8rem;
                                }
                                p{
                                    font-size: 1rem;
                                }
                            }
                            }
                    }
                }
                }
            }
        }
    @media (max-width: 991px) {
        .logo{
            right: 35%;
            
        }
        main{
            .left{
                width: 0%;
            }
        }
    }
    @media (max-width: 680px) {
        main{
            
            .right{
                .conteudoPergaminho{
                    .sobrePergaminho{
                        .topContent{
                            .villages{
                                img{
                                    max-width: 10%;
                                }
                            }
                        }
                        .midContent{
                            .memberInfo{
        
                                img{
                                    max-width: 80%;
                                    max-height: 8rem;
                                }
                                p{
                                    font-size: 0px;
                                }
                            }
                            }
                        .downContent{
                            button{
                                font-size: 1rem;
                            }
                        }
                    }
                }
                }
            }
    }
}