:root{
    --leaf:rgb(80, 212, 80) ;
    --cloud:rgb(78, 5, 197) ;
    --mist:rgb(0, 232, 248) ;
    --rain:rgb(58, 160, 228) ;
    --sand:rgb(223, 173, 8) ;
    --sound:rgb(240, 123, 158) ;
    --rock:rgb(192, 127, 5) ;
    --waterfall:rgba(0, 255, 200, 0.973) ;
}